.skills-page{
  padding-top: 100px;
}

.all-skills{
  .container{
    .skills{
      display: grid;
      gap: 20px;



      >div{
        width: 100%;
        display: flex;
        row-gap: 10px;
        background-color: cadetblue;

        p{
          margin-top: 10px;
        }
      }
    }
  }
}


#pagination{
  padding: 20px 0;
  .pagination-btns{
    display: flex;
    justify-content: center;

    button{
      padding: 10px 15px;
      background-color: #592EA9;
      color: white;
      border: none;
      border-radius: 4px;

      &:disabled{
        background-color: #6D6E76;
      }
    }
    span{
      padding: 10px 15px;
      font-size: 20px;
    }
  }
}

#search{
  input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-bottom:20px ; 
    border: 1px solid black; 
  }
}