.nav {
  background-color: #ffc700;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 0;
  }

  &__logo {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    gap: 10px;
    align-items: center;
    img{
      width: 50px;
    }
  }

  &__link {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: 0.5s ease;
    text-decoration: none;
    .account-img{
      width: 50px;
      height: 50px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        margin-top: -5px;
        padding: 0;
        width: 50px;
        border-radius: 20px;
      }
    }
    &::before{
      content: "";
      width: 100%;
      height: 1px;
      color: #fff;
      background-color: #fff;

    }

    &:hover {
      color: brown;
    }
  }

  &__link.active {
    opacity: 1;
  }
}


main {
  padding-top: 80px;
}

.logo-status {
  font-size: 14px;
  color: #fff;
  background-color: red;
  padding: 2px 6px;
  border-radius: 4px;
  border: none;
  padding-top: 2px;
  vertical-align: middle;
}

// .ant-badge-status-dot {
//   display: none !important;
// }

@media (max-width: 450px) {
  .nav__link {
    padding: 8px 16px;
  }

  .nav__menu {
    gap: 13px;
  }

  .nav__logo {
    font-size: 20px;
  }
}

.nav__item{
  text-decoration: none !important;
}