.container{
  max-width: 1320px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

a{
  text-decoration: none;
}
li{
  list-style-type: none;
}


.loading1{
  height: calc(100vh - 116px);
  width: 100%;
}


.loading {
  width: 300px;
  display: flex;
  margin: 300px auto;
  justify-content: space-around;
}

.line {
  width: 7px;
  height: 100px;
  background-color: greenyellow;
  border-radius: 5px;
  animation: loading 0.4s infinite alternate;
}

.line:first-child {
  animation-delay: 0.1s;
}

.line:nth-child(2) {
  animation-delay: 0.2s;
}

.line:nth-child(3) {
  animation-delay: 0.3s;
}

.line:nth-child(4) {
  animation-delay: 0.4s;
}

.line:nth-child(5) {
  animation-delay: 0.5s;
}

.line:nth-child(6) {
  animation-delay: 0.6s;
}

.line:nth-child(7) {
  animation-delay: 0.7s;
}

.line:nth-child(8) {
  animation-delay: 0.8s;
}

.line:nth-child(9) {
  animation-delay: 0.9s;
}

.line:nth-child(10) {
  animation-delay: 1s;
}

@keyframes loading {

  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(1.5);
    background-color: yellow;
  }
}

#loading {
	position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
	z-index: 100;
	transition: 1s;
}

li{
  text-decoration: none !important;
}